<!DOCTYPE html>
<html lang="es">
<head>
    <title>このはヘダーです</title><link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/voluntario.css')}}">
    <meta charset="utf-8">
</head>
<body>   
    <header>
        <nav class="top-nav">
            <div class="nav-container">
                <a class = "active" href="{{url_for('avistamientos')}}"> Avistamientos </a> 
            </div>
            <div class="nav-container" style="background-color: #78d261; ">
                <a href = "{{url_for('index')}}" style="color: aliceblue;"> Volver </a>
            </div>
            <div class="nav-container">
                <a href = "{{url_for('reporte')}}"> Reportar Avistamientos </a>
            </div>
            <div class="nav-container">
                <a href = "{{url_for('aboutus')}}"> Sobre Nosotros </a>
            </div>
        </nav>
    </header> 
    <main>
        <div class="logo">
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='media/logo-aves.png')}}" alt="logo-aves"></a>
        </div> 
        <form>
            <label for="nombre">Nombre Completo</label>
            <input type="text" id="nombre" name="nombre" placeholder="Juanito Pérez">
            <br>
            <label for="genero">Género</label>
                <input type="radio" id="M" name="genero" value="m"> M
                <input type="radio" id="F" name="genero" value="f"> F
                <input type="radio" id="X" name="genero" value="x"> X
                <h3 id="gender-error" style="display: none; color: red;">Sin llenar</h3>
            <br>
            <label for="email">Correo</label>
            <input type="email" id="email" name="email" placeholder="tu.correo@ejemplo.com">
            <br>
            <label for="region">Región</label>
            <select id="region" name="region">
                <option value="">Seleccione una región</option>
                <option value="arica-parinacota">Arica y Parinacota</option>
                <option value="tarapacá">Tarapacá</option>
                <option value="antofagasta">Antofagasta</option>
                <option value="atacama">Atacama</option>
                <option value="coquimbo">Coquimbo</option>
                <option value="valparaiso">Valparaíso</option>
                <option value="metropolitana">Metropolitana</option>
                <option value="o'higgins">O'Higgins</option>
                <option value="maule">Maule</option>
                <option value="ñuble">Ñuble</option>
                <option value="biobio">Biobío</option>
                <option value="araucanía">La Araucanía</option>
                <option value="los rios">Los Ríos</option>
                <option value="los lagos">Los Lagos</option>
                <option value="aysén">Aysén</option>
                <option value="magallanes y antártica">Magallanes y Antárica</option>
            </select>
            <br>
            <label for="comuna">Comuna</label>
            <input type="text" id="comuna" name="comuna">
            <br>
            <label for="fono">Teléfono (+56) </label>
            <input type="tel" id="fono" name="fono" placeholder="912345678">
            <br>
            <label for="dob">Fecha de Nacimiento</label>
            <input type="date" id="dob" name="dob">
            <br>
            <input type="submit" value="   Enviar   " onclick="return validador(event)">
        </form> 

        <br>
        <div>
            <div class="form-success" id="form-success">
                <p><span id="span" style="font-weight: bold;">user</span>, se ha inscrito correctamente.</p>
            </div>
            <script src="{{url_for('static', filename='js/voluntario.js')}}"></script>
        </div>
    </main>
    <footer>
        <div class="credits">
            <p>
                Página web hecha por : <br> Benjamín Kameid
            </p>
        </div>
        <img src="{{url_for('static', filename='media/proto_logo_base.png')}}" alt="logo propio"> 
    </footer>
</body>